@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
html, body {padding: 0; margin: 0; font-family: 'GmarketSansMedium', 'GmarketSansLight'; scroll-behavior: smooth;}
a {color: inherit; text-decoration: none;}


/* scroll bar */
::-webkit-scrollbar {width: 12px;}
::-webkit-scrollbar-thumb {background: #f6ce3c; border-radius: 6px;}


/* menu */
header #navbar {position: fixed; top: -100px; width: 100%; height: 80px; display: block; background: #cd2e2d; transition: top .8s; z-index: 999;}
header #navbar ul {display: flex; justify-content: flex-end; margin: 0;  padding: 0;}
header #navbar ul > li {list-style: none;}
header #navbar ul > li > a {float: left; display: block; padding: 29.5px 40px; color: #fff; transition: .5s;}
header #navbar ul > li > a:hover {background: #f6ce3c;}

/* mobile menu */
header .mobile-menu {display: none;}
header .ham {position: fixed; width: 30px; height: 40px; overflow: hidden; cursor: pointer; z-index: 9999; display: none;}
header .ham .lines {position: absolute; width: 30px; height: 6px; background: #cd2e2d; top: 50%; left: 50%; transform: translate(-50%,-50%); transition: .5s;}
.lines:before,
.lines:after {content: ""; position: absolute; width: 30px; height: 6px; background: #cd2e2d; transition: .5s;}
header .ham .lines:before {top: -10px;}
header .ham .lines:after {top: 10px;}
.ham.active .lines {background: rgba(0,0,0,0);}
.ham.active .lines:before {transform: rotate(45deg); top: 0;}
.ham.active .lines:after {transform: rotate(135deg); top: 0;}


/* main */
.main {height: 100vh;}
.main > div {width: 1200px; margin: 0 auto;}
.cut1, .cut2 {position: relative; height: 300px;}
.cut1 {float: left; margin-top: 60px;}
.cut2 {float: right; margin-top: 50px;}
.main > div img {width: 300px; box-shadow: 15px 15px 10px #ddd;}
.cut1 img:nth-child(1) {animation: img1 1s forwards;}
@keyframes img1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.cut2 img {animation: img2 1s forwards; animation-delay: 3s !important; opacity: 0;}
@keyframes img2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.typing1, .typing2 {position: relative;  font-size: 40px;}
.typing1 {margin-top: -170px; margin-left: 350px;}
.typing2 {margin-top: -200px; margin-left: -350px;}
.cut1 h2, .cut2 h2 {color: transparent;}
.cut1 h2:before {content: attr(data-text); position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: #000; overflow: hidden; animation: blink 1s steps(26) forwards; white-space: nowrap; animation-delay: 1s; opacity: 0;}
@keyframes blink {
    0% {
        width: 0;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}
.cut2 h2:before {content: attr(data-text); position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: #000; overflow: hidden;  animation: blink2 1s steps(20) forwards; white-space: nowrap; animation-delay: 4s !important; opacity: 0;}
@keyframes blink2 {
    0% {
        width: 0;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}
.skip {position: absolute; top: 86%; left: 50%; transform: translateX(-50%); border: none; padding: 0 40px; height: 60px; border-radius: 17px; background: #ebebeb; box-shadow:  6px 6px 12px #b7b7b7, -6px -6px 12px #ffffff; font-size: 20px; font-family: 'GmarketSansMedium'; line-height: 64px; outline: none; cursor: pointer; transition: .3s; animation: skip 2s ease-in-out infinite; animation-delay: 5s;}
.skip:hover {box-shadow: none; background-color: #f6ce3c;}

.main-bg {width: 100% !important; position: absolute; top: 0; left: 0; background: #f6ce3c; z-index: -1; animation: down 1s forwards; animation-delay: 1s; display: none;}
@keyframes down {
    0% {
        height: 0;
    }
    100% {
        height: 100vh;
    }
}
.intro {position: relative; width: 1200px; animation: intro 1s forwards; display: none; opacity: 0; animation-delay: 2s;}
@keyframes intro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.intro p {position: absolute; left: 50%; top: 50%; transform: translate(-50%,100%); width: 100%; margin:0; text-align: center; font-size: 80px;}
.intro span {position: relative;}
.intro span:after {content: ""; position: absolute; top: 100%; left: 0; width: 0; height: 7px; background: #cd2d2d;}
.intro span:first-child {display: inline-block;}
.intro span:first-child:after {animation: line1 1s forwards; animation-delay: 3s;}
@keyframes line1 {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.intro span:last-child {display: inline-block; margin-top: 50px;}
.intro span:last-child:after {width: 0; left: 0; animation: line2 1s forwards; animation-delay: 4s;}
@keyframes line2 {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.intro b {display: inline-block; animation: updown 1s; animation-delay: 5s;}
@keyframes updown {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(-5deg);
    }
    100% {
        transform: rotateZ(0);
    }
}
.goto {position: absolute; top: 87%; left: 50%; transform: translateX(-50%); cursor: pointer; opacity: 0; animation: goto .5s forwards; animation-delay: 5.5s; display: none;}
@keyframes goto {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.goto > div {width: 30px; height: 60px; border: 4px solid #333; border-radius: 60px;}
.goto > div:before {content: ""; position: absolute; top: 30px; left: 50%; transform: translateX(-50%); width: 5px; height: 15px; background: #333; border-radius: 30px; opacity: 1; animation: mouse 2s infinite;}
@keyframes mouse {
    from {
        opacity: 1;
        top: 15px;
    }
    to {
        opacity: 0;
        top: 40px;
    }
}


/* about */
.about {position: relative; height: 100vh; padding-bottom: 250px; background-size: 100px 100px; background-image: linear-gradient(45deg, #fdf3ce 15%, transparent 15%), linear-gradient(-45deg, #fdf3ce 15%, transparent 15%), linear-gradient(135deg, #fdf3ce 15%, transparent 15%), linear-gradient(-135deg, #fdf3ce 15%, transparent 15%);}
.about > div {width: 1200px; margin: 0 auto; padding-top: 40px; position: relative; z-index: 9;}
.about-bg {position: absolute !important; width: 100% !important; height: calc(100vh + 250px); !important; top: 0; left: 0; background: #000; z-index: -99 !important; display: none;}

.day-night button {position: relative; display: inline-block; width: 50px; height: 50px; background: transparent; border:none; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); border-radius: 50px; cursor: pointer; outline: none; transition: .5s;}
.day-night button:first-child {background: #88CCFF; margin-right: 10px; box-shadow :0px 0px 30px rgba(136, 204, 255, 1);}
.day-night button:last-child {background: #223172;}
.day-night button img {position: absolute; top: 3px; left: 50%; transform: translateX(-50%); width: 45px;}

.left {position: relative; width: 35%; float: left;}
.left-img {height: 450px;}
.left img, .img-bg1, .img-bg2 {border-radius: 5px;}
.left img {width: 300px; display: none;}
.left .img-bg1 {position: absolute; top: 10px; left: 10px; width: 300px; height: 400px; background: #ccebff; z-index: -1; display: none;}
.left .img-bg2 {position: absolute; top: 20px; left: 20px; width: 300px; height: 400px; background: #e6f5ff; z-index: -2; display: none;}
.left .skills {width: 100%; height: 500px; padding-right: 20px; margin-top: 30px;}
.left .skill {position: relative; margin-bottom: 20px;}
.left .skill-name {position: absolute; z-index: 2; font-size: 14px; text-transform: uppercase; color: #fff; line-height: 27px; padding-left: 10px;}
.left .skill-bar {height: 25px; background: rgba(235,235,235,.5); border-radius: 8px;}
.left .per {position: relative; width: 0; height: 15px; padding: 5px 0; background: linear-gradient(90deg, rgba(134,168,231,1) 0%, rgba(246,131,130,1) 100%); border-radius: 10px;  transition: 2s;}
.left .per:before {content: attr(per); position: absolute; right: 0; padding: 4px 6px; background-color: #f6ce3c; color: #000; font-size: 12px; border-radius: 4px; top: -35px; transform: translateX(50%);}
.left .per:after {content: ""; position: absolute; top: -16px; right: 0; width: 10px; height: 10px; background-color: #f6ce3c; transform: translateX(50%) rotate(45deg);}

.right {width: 60%; float: right; padding: 10px 20px 0px 20px; border-radius: 20px; box-sizing: border-box;}
.right h2 {position: relative; display: block; margin: 0 0 20px 0; font-size: 50px;}
.right h2:after {content: ""; position: absolute; z-index: -1; top: 55%; left: 0; width: 70%; height: 7px; background: #f6ce3c;}
.right h3 {margin: 0; font-size: 30px;}
.right h4 {margin-top: 10px; word-break: keep-all;}
.right table th, .right table td {padding: 5px 5px 5px 0;}
.right table th {font-size: 20px; padding-right: 30px;}
.right table td {font-size: 18px; display: block; margin-top: -3px;}
.right table td span {font-size: 15px; color: #aaa;}
.right .info {margin: 40px 0; text-align: justify; word-break: keep-all;}
.right .info p {font-size: 18px;}
.right .info strong {font-size: 18px;}
.right .moon {width: 200px; position: absolute; bottom: 0; right: 3%; z-index: -1;}


/* portfolio */
.portfolio {position: relative;}
.portfolio > div {width: 1200px; margin: 0 auto; padding: 80px 0;}
.portfolio > div h2 {position: relative; margin-bottom: 100px; text-align: center; font-size: 50px;}
.portfolio > div h2:after {content: ""; position: absolute; top: 50%; left: 50%; transform: translateX(-50%); width: 50%; height: 7px; background: #f6ce3c; z-index: -1;}
.portfolio .box {position: relative; height: 360px; margin: 400px 0; box-sizing: border-box;}
.portfolio .box:nth-of-type(1) {margin-top: 130px;}
.portfolio .box:last-of-type {margin-bottom: 130px;}
.portfolio .box .left {position: relative; float: left; width: 50%;}
.portfolio .box .left img {display: block; position: absolute; left: 50%; transform: translateX(-50%); width: 90%; max-width: 600px; margin-top: 20px; border-radius: 0px; box-shadow:  15px 15px 20px #c8c8c8, -15px -15px 20px #ffffff; transition: .5s;}
.portfolio .box .left img:hover {transform: translateX(-50%) scale(1.1); box-shadow: none;}
.portfolio .box .right {float: right; width: 45%; padding: 0;}
.portfolio .box .right p {width: 90%; font-size: 18px; line-height: 25px; word-break: keep-all;}
.portfolio .box .right .number {display: block; width: 120px; height: 120px; padding: 50px; border-radius: 50%; position: absolute; top: -50px; right: -21px; background: #f6ce3c; color: #fff; font-size: 120px; font-weight: bold; letter-spacing: -4px; line-height: 100%; z-index: -1;}
.portfolio .box .right button {position: absolute; bottom: 10px; width: 100px; height: 50px; border: none; border-radius: 13px; background: #ebebeb; box-shadow:  5px 5px 10px #c8c8c8, -5px -5px 10px #ffffff; font-size: 15px; font-family: 'GmarketSansMedium'; line-height: 50px; transition: .5s;}
.portfolio .box .right button a {display: block;}
.portfolio .box .right button:hover {background: #f6ce3c; box-shadow: none;}


/* contact */
.contact {position: relative; height: 100vh; overflow: hidden;}
.contact > div {position: absolute; top: 0; left: 0; width: 100%; height: 0; background: #223172; z-index: -2; transition: 1s ease;}
.contact > div > div {width: 1200px; margin: 0 auto;}
.contact > div > div h2 {position: relative; margin-bottom: 100px; text-align: center; font-size: 50px; color: #fff; margin-top: 80px; margin-bottom: 0;}
.contact > div > div h2:after {content: ""; position: absolute; top: 50%; left: 50%; transform: translateX(-50%); width: 100%; height: 7px; background: #f6ce3c; z-index: -1;}
.contact .content {margin-top: -25px; padding: 40px 0; background: rgba(0,0,0,0.5); text-align: center; display: none;}
.contact .content h3 {font-size: 25px;}
.contact .content h4 {font-size: 18px;}
.contact .content h3,
.contact .content h4 {color: #fff; letter-spacing: 2px;}
.contact .moon2 {width: 100%; position: absolute; left: 0; top: 50%; animation: moon 60s linear infinite; display: none;}
@keyframes moon {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.contact .rocket {position: absolute; width: 200px; z-index: -1; animation: rocket 10s linear infinite; display: none;}
@keyframes rocket {
    0% {
        transform: translate(-40%,50%) rotateZ(45deg); opacity: 0;
    }
    25% {
        transform: translate(200%,-50%) rotateZ(75deg); opacity: 1;
    }
    50% {
        transform: translate(400%,-70%) rotateZ(95deg);
    }
    75% {
        transform: translate(600%,-30%) rotateZ(115deg); opacity: 1;
    }
    100% {
        transform: translate(800%,50%) rotateZ(135deg); opacity: 0;
    }
}
.contact footer {position: absolute; bottom: 10px; width: 100%; text-align: center;}